body{
	background-color: #673AB7;
}

.hero img{
	height: 50%;
	width:100%;
}

.header h1{
	font-family: 'Righteous';
	color:#67C8FF;
	padding: 1em;
}

.home{
	padding: 2em;
}

.home img{
	height: 50%;
	width:100%;
}

.home h1{
	font-family: 'Righteous';
	color:#67C8FF;
}
.about h2{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
}

.descriptions h1{
	font-family: 'Righteous';
	color:#67C8FF;
	padding: 1em;
}

.descriptions h3{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:left;
	padding-bottom: 2em;
}


.descriptions h2{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
	padding-top: 2em;
}

p{
	font-family: 'Poppins', sans-serif;
	color:white;
	text-align:center;
}

iframe{
	padding-bottom: 2em;
}

footer{
	background-color:#67C8FF;
	padding: 1em;
}

footer h4{
	font-family: 'Righteous';
	color:#673AB7;
	text-align:center;
}



