body{
	background-color: #673AB7;
}

.hero img{
	height: 50%;
	width:100%;
}

.header h1{
	font-family: 'Righteous';
	color:#67C8FF;
	padding: 1em;
}

.home{
	padding: 2em;
}

.home img{
	height: 50%;
	width:100%;
}

.home h1{
	font-family: 'Righteous';
	color:#67C8FF;
}
.about h2{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
}

.descriptions h1{
	font-family: 'Righteous';
	color:#67C8FF;
	padding: 1em;
}

.descriptions h3{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:left;
	padding-bottom: 2em;
}


.descriptions h2{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
	padding-top: 2em;
}

.events h1{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
	padding-top: 2em;
}

.events h2{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
	padding-top: 1em;
}

.events h3{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
	padding-top: 1em;
	padding-bottom: 2em;
}

.events h4{
	font-family: 'Poppins', sans-serif;
	color:white;
	text-align:center;
	font-style: italic;
	font-size: 12.5px;
	padding-bottom: 2em;
}

.events img{
	padding-top: 2em;
	display: block;
    margin: 0 auto;
}

p{
	font-family: 'Poppins', sans-serif;
	color:white;
	text-align:center;
}

iframe{
	padding-bottom: 2em;
}

button{
	display: block;
    margin: 0 auto;
    background-color:#67C8FF;
    font-family: poppins;
}

.tickets h1{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
	padding-top: 2em;
}

.tickets h2{
	font-family: 'Righteous';
	color:#67C8FF;
	text-align:center;
	padding-top: 1em;
}

.tickets img{
	height: 300px;
	width: 75%;
	padding-bottom: 2em;
	display: block;
    margin: 0 auto;
}

footer{
	background-color:#67C8FF;
	padding: 1em;
}

footer h4{
	font-family: 'Righteous';
	color:#673AB7;
	text-align:center;
}

